<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ path }}">Confirm my Email</a>.
    This link will expire in {{ expiration_date|date('F jS') }}.
</p>

<p>
    Cheers!
</p>
