{% extends 'base.html.twig' %}

{% block title %}All Lists{% endblock %}

{% block body %}

<div class="container">
    <h1>Add List</h1>
    {{ form_start(form, {'method': 'POST',attr: {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.list_name) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>

{% endblock %}